.footer {
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    height: 100px;

    .logo {
        img{
            width: 12%;
        }
        p {
            font-size: 1rem;
        }

        #goTopBtn {
            cursor: pointer;
        }
    }
}