/* Tamaño reducido de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 5px; /* Tamaño reducido inicial */
}

/* Estilo del fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Estilo de la manija (thumb) de la barra */
::-webkit-scrollbar-thumb {
  background: $Main-claro;
  border-radius: 10px;
  transition: width 0.3s ease; /* Suavizado al hacer hover */
}

/* Agrandar la manija al pasar el mouse */
::-webkit-scrollbar:hover {
  width: 12px; /* Aumenta el ancho al hacer hover */
}

/* Agrandar el thumb al hacer hover en la barra */
::-webkit-scrollbar-thumb:hover {
  background: $Acento; /* Cambio de color para mayor visibilidad */
}
html{
  scroll-behavior: smooth;
}

body {
  font-family: $fuente-principal;
  font-weight: 500;
  color: $Main-oscuro;
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 89%, rgba(245,245,245,1) 100%);
}
h1 {
  @include font-mod(5rem, bold, $Main-oscuro);
  text-align: center;
}
h2 {
    @include font-mod(4rem, bold, $Main-oscuro);
  text-align: center;
  letter-spacing: 1rem;
  text-transform: uppercase;
}
// boton wpp
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  cursor: pointer;
  @include hover-transition(background-color, 0.3s, ease);
  @include flex-center;

  &:hover {
    background-color: #188b43;
  }
}
// boton ig
.instagram-button {
  position: fixed;
  bottom: 90px;
  right: 20px;
  background-color: $Main-claro;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  cursor: pointer;
  @include hover-transition(background-color, 0.3s, ease);
  @include flex-center;

  &:hover {
    background-color: $Secundario;
  }
}
