.gallery {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 0;

  video,
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
    .present-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $Blanco;
      text-align: center;
      z-index: 2;

      .text-m {
        @include titulo-center;
        @include font-mod(5.5rem, bold, $Blanco);
        text-transform: none;
      }

      .text-p {
        @include font-mod(2rem, 500, $Blanco);
        text-align: center;
        line-height: 10px;
      }
    }
  }
}

//nosotros
.nosotros-content {
  display: flex;
  align-items: center;
  background-image: url(../img/pastry.jpg);
  background-size: cover;
  background-position: center;
  @include spacing(padding, 20px);
  height: 100%;

  .nos {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nosotros-text {
    @include spacing(padding, 2rem);
    width: 50%;
    color: $Blanco;
    font-size: 2rem;

    h2 {
      color: $Blanco;
    }
  }
}

.destacado-content {
  overflow-x: hidden;
  padding: 3rem;

  /* Contenedor del producto */
  .prod-content {
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;

    img {
      width: 100%;
      height: 450px;
      object-fit: cover;
      transition: transform 0.5s ease-in-out;
      border-radius: 4px;
    }

    .prod-hover {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      color: $Blanco;
      padding: 20px;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }

      .prod-hover {
        opacity: 1;
      }
    }
  }

  .btn {
    transform: translateY(0px);
    transition: 0.3s linear;
    background: $Acentodark;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: $Blanco;
    padding: 0;
    margin: 0;

    &:hover {
      transform: translateY(-6px);
      background: $Acento;

      .price {
        transform: translateX(-110%);
      }

      .shopping-cart {
        transform: translateX(0%);
      }
    }

    span {
      transition: transform 0.3s;
      display: inline-block;
      padding: 10px 20px;
      font-size: 1.2em;
      margin: 0;
    }

    .price,
    .shopping-cart {
      background: $Main-oscuro;
      border: 0;
      margin: 0;
    }

    .price {
      transform: translateX(-10%);
      padding-right: 15px;
      font-family: $fuente-principal;
    }

    .shopping-cart {
      transform: translateX(-100%);
      position: absolute;
      background: $Main-oscuro;
      z-index: 1;
      left: 0;
      top: 0;
    }

    .buy {
      z-index: 3;
      font-weight: bolder;
    }
  }

  /* Nombre del producto sobre la imagen */
  .prod-name {
    position: absolute;
    top: 10px;
    left: 10px;
    color: $Blanco;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
    z-index: 2;
  }

  /* Contenido del hover */
  .prod-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: $Blanco;
    padding: 15px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;

    .prod-description {
      margin-top: 5px;
      font-size: 1rem;
      padding: 10px;
    }
  }
}
